img{
     max-width:100px;
     max-height:100px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: white;
    background-color: #5d839e;
    font-weight: 700;
    font-size: large;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight: 600;
}

.chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    background: #5d839e;
    border: 1px
    border-radius: 3px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.chart-title {
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    font-weight: 550;
    padding: 7px 10px 4px;
}

